<nav class="nav-extended blue">
  <div class="container">
    <div class="row" style="margin: 0px">
      <div class="col s12 l12">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if (req.session.authenticated) { %>
              <li><a><i class="fa fa-user" aria-hidden="true"></i> <%=req.session.user.pseudo%></a></li>
              <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>
            <% } else { %>
              <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</a></li>
              <li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> S'inscrire</a></li>
            <% } %>
          </ul>
          <ul class="side-nav" id="mobile-demo" style="z-index: 2000;">
            <% if (req.session.authenticated) { %>
              <li class="active" style="padding-left: 12px; color: rgba(0,0,0,0.87); font-weight: bold"><span><i class="fa fa-user" aria-hidden="true"></i> <%=req.session.user.pseudo%></span></li>
              <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>
            <% } else { %>
              <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</a></li>
              <li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> S'inscrire</a></li>
            <% } %>
            <li class="active" style="padding-left: 12px; color: rgba(0,0,0,0.87); font-weight: bold;">Menu</li>
            <% if (req.session.authenticated) { %>
              <li><a href="/nodes"><i class="fa fa-cubes" aria-hidden="true"></i> Mes noeuds</a></li>
            <% } %>
            <li><a href="/explore"><i class="fa fa-map-marker" aria-hidden="true"></i> Explorer</a></li>
            <li><a href="/faq"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="blue darken-2 nav-extended hide-on-med-and-down">
  <div class="container">
    <div class="row" style="margin: 0px">
      <div class="col s12 l12">
        <div class="nav-wrapper">
          <ul class="left">
            <% if (req.session.authenticated) { %>
              <li><a href="/nodes"><i class="fa fa-cubes" aria-hidden="true"></i> Mes noeuds</a></li>
            <% } %>
            <li><a href="/explore"><i class="fa fa-map-marker" aria-hidden="true"></i> Explorer</a></li>
            <li><a href="/faq"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  window.addEventListener("load", function(){
    $(".button-collapse").sideNav();
  }, false);
</script>
