<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<script src="js/Leaflet.MakiMarkers.js"></script>
<script src="js/Chart.min.js"></script>
<script type="application/javascript">
  var NODE_ID;
  var nodes = <%- JSON.stringify(nodes) %>
  window.addEventListener("load", function(){
    if(nodes.length > 0){
      $("#node-infos").attr("nodeNumber", 0);
      showEditNode()
      fillData(0)
    }else{
      showNewNode()
    }

    $(".node-button").on("click", function(){
      fillData(this.id)
      showEditNode()
    });

    $("#new-node-button").on("click", function(){
      showNewNode();
    });

    function showEditNode(){
      $('#new-node').hide()
      $('#modify-node').show()
    }

    function showNewNode(){
      $("#modify-node").hide();
      $("#new-node").show();
    }

    function fillData(nodeNumber){
      // Update form
      $("#description").val(nodes[nodeNumber].description);
      $("#unit").val(nodes[nodeNumber].unit);
      $("#latitude").val(nodes[nodeNumber].latitude);
      $("#longitude").val(nodes[nodeNumber].longitude);
      if(nodes[nodeNumber].restriction == "public"){
        $("#private").prop("checked", false);
        $("#public").prop("checked", true);
      } else {
        $("#private").prop("checked", true);
        $("#public").prop("checked", false);
      }
    }
  });
</script>

<style>
  .open-close, .click {
    cursor: pointer;
  }

  #clear-all-data {
    font-size: 1em;
    height: auto;
    line-height: normal;
    padding: 0 10px;
  }
</style>

<div class="row">
  <div class="col s3">
    <div class="collection">
      <% nodes.forEach((node, index) => { %>
        <a href="#!" id="<%=index%>" class="collection-item node-button"><%=node.name%></a>
      <% }) %>
      <a href="#!" id="new-node-button" class="collection-item center"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="col s9">
    <div class="card">
      <div class="card-content">

        <div id="existing-node">

          <div id="modify-node" hidden>
            <span class="card-title">Modification</span>
            <div class="divider"></div>
            </br>
            <div class="row">
              <p>
                <input name="restriction" class="with-gap" type="radio" id="public" value="public" checked/>
                <label for="public">Public</label>
                <input name="restriction" class="with-gap" type="radio" id="private" value="private"/>
                <label for="private">Privé</label>
              </p>
              <p><i>En laissant votre noeud public vous permettez à la communauté de bénéficier des données de votre capteur pour créer des applications révolutionnaires !</i></p>
            </div>
            <form method='POST' action='/nodes'>
              <div class="row">
                <div class="input-field col s12">
                  <input required id="description" name='description' type="text" class="validate" placeholder="15 mots max">
                  <label for="description">Description</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input required id="latitude" name='latitude' type="text" class="validate">
                  <label for="latitude">Latitude</label>
                </div>
                <div class="input-field col s6">
                  <input required id="longitude" name='longitude' type="text" class="validate">
                  <label for="longitude">Longitude</label>
                </div>
              </div>
              <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Modifier
                   <i class="material-icons right">send</i>
                 </button>
              </div>
            </form>
          </div>
        </div>

        <div id="new-node" hidden>
          <span class="card-title">New node</span>
          <div class="divider"></div>
          <br/>
          <form method='POST' action='/nodes'>
            <div class="row">
            <p>
              <input name="restriction" class="with-gap" type="radio" id="new_public" value="public" checked/>
              <label for="new_public">Public</label>
              <input name="restriction" class="with-gap" type="radio" id="new_private" value="private"/>
              <label for="new_private">Privé</label>
            </p>
            <p><i>En laissant votre noeud public vous permettez à la communauté de bénéficier des données de votre capteur pour créer des applications révolutionnaires !</i></p>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input required id="new_object_name" name='object_name' type="text" class="validate" placeholder="ex: temp_cuisine_GEI">
                <label for="object_name">Nom de l'objet connecté</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input required id="new_unit" name='unit' type="text" class="validate" placeholder="ex: température (°C), luminance (cd/m²)">
                <label for="unit">Unité</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input required id="new_eui" name='eui' type="text" class="validate" placeholder="8 bytes node identifier">
                <label for="eui">EUI</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input required id="description" name='description' type="text" class="validate" placeholder="15 mots max">
                <label for="description">Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input required id="new_latitude" name='latitude' type="text" class="validate" placeholder="INSA Lat. 43.570063">
                <label for="latitude">Latitude</label>
              </div>
              <div class="input-field col s6">
                <input required id="new_longitude" name='longitude' type="text" class="validate" placeholder="INSA Long. 1.467615">
                <label for="longitude">Longitude</label>
              </div>
            </div>
            <div class="row center">
              <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter
               <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<script src="js/map.js"></script>
