html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: rgba(0,0,0,0.71);
}

main {
  flex: 1 0 auto;
}

#mapid { height: 600px; }
