<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<script src="js/Leaflet.MakiMarkers.js"></script>
<style>
  .open-close {
    cursor: pointer;
  }
</style>

<div class="row">
  <div class="col s3">
    <div class="collection" style="padding: 10px; 20px;">
      <p class="open-close" number=1 style="margin: 0px"><span id="sortText"></span> <span class="right"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true" hidden></i></span></p>
      <div id="q1" hidden>
        <form action="#">
          <p>
            <input name="restriction" text="Public Nodes" class="with-gap restrictionSelector" type="radio" id="publicNodes" checked/>
            <label for="publicNodes">Public Nodes</label>
          </p>
          <% if (req.session.authenticated) { %>
          <p>
            <input name="restriction" text="All"class="with-gap restrictionSelector" type="radio" id="allNodes"/>
            <label for="allNodes">All</label>
          </p>
          <p>
            <input name="restriction" text="My Nodes" class="with-gap restrictionSelector" type="radio" id="userNodes"  checked/>
            <label for="userNodes">My Nodes</label>
          </p>
          <% } %>
        </form>
      </div>
    </div>
    <div id="nodeList" class="collection"></div>
  </div>
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Position des noeuds</span>
        <div id="mapid"></div>
        <div id="node-infos" hidden>
          <div class="section">
            <h5>Data</h5>
            <canvas id="myChart" width="400" height="200"></canvas>
          </div>
          <div class="divider"></div>
          <div id="frameList" class="collection">
            <div class="collection-item black-text grey lighten-3 active">
              <ul style="margin: 0px">
                <li class="col s1" style="display: inline-block"><p>Valid</p></li>
                <li class="col s2" style="display: inline-block"><p>Time</p></li>
                <li class="col s2" style="display: inline-block">Counter</li>
                <li class="col s2" style="display: inline-block">Payload</li>
                <li style="position: absolute; right: 5px; display: inline-block; cursor: pointer;"><a id="clearAllData"><i class="fa fa-trash-o" aria-hidden="true"></i> Dell ALL</a></li>
                <!-- Hack to give the line the right height -->
                <li style="display: inline-block"></li>
              </ul>
            </div>
            <div frameNumber="1" frameId="12345" class="frame collection-item">
              <ul style="margin: 0px">
                <li class="col s1" style="display: inline-block"><i class="fa fa-exclamation-triangle" aria-hidden="true" ></i></li>
                <li class="col s2" style="display: inline-block"><p>10:29:22</p></li>
                <li class="col s2" style="display: inline-block">2</li>
                <li class="col s2" style="display: inline-block"><code class="language-markup">A37B827FF0998CDE738FED88</code></li>
                <li style="position: absolute; right: 5px; display: inline-block; cursor: pointer;"><a id="clearFrame1" frameId="12345" class="delFrame" hidden><i class="fa fa-times" aria-hidden="true"></i> Del</a></li>
                <!-- Hack to give the line the right height -->
                <li style="display: inline-block"></li>
              </ul>
            </div>
            <div frameNumber="2" frameId="1234" class="frame collection-item">
              <ul style="margin: 0px">
                <li class="col s1" style="display: inline-block"><i class="fa fa-check" aria-hidden="true"></i></li>
                <li class="col s2" style="display: inline-block"><p>10:29:22</p></li>
                <li class="col s2" style="display: inline-block">2</li>
                <li class="col s2" style="display: inline-block"><code class="language-markup">A37B827FF0998CDE738FED88</code></li>
                <li style="position: absolute; right: 5px; display: inline-block; cursor: pointer;"><a id="clearFrame2" frameId="1234" class="delFrame" hidden><i class="fa fa-times" aria-hidden="true"></i> Del</a></li>
                <!-- Hack to give the line the right height -->
                <li style="display: inline-block"></li>
              </ul>
            </div>
            <div frameNumber="3" frameId="123" class="frame collection-item">
              <ul style="margin: 0px">
                <li class="col s1" style="display: inline-block"><i class="fa fa-check" aria-hidden="true"></i></li>
                <li class="col s2" style="display: inline-block"><p>10:29:22</p></li>
                <li class="col s2" style="display: inline-block">2</li>
                <li class="col s2" style="display: inline-block"><code class="language-markup">A37B827FF0998CDE738FED88</code></li>
                <li style="position: absolute; right: 5px; display: inline-block; cursor: pointer;"><a id="clearFrame3" frameId="123" class="delFrame" hidden><i class="fa fa-times" aria-hidden="true"></i> Del</a></li>
                <!-- Hack to give the line the right height -->
                <li style="display: inline-block"></li>
              </ul>
            </div>
          </div>
          <div class="divider"></div>
          <div class="section">
            <h5>API</h5>
            <pre><code id="api-url" class="language-markup"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/map.js"></script>
<script>
window.addEventListener("load", function(){
  var nodesList = {}
  nodesList['publicNodes'] = <%- JSON.stringify(publicNodes) %>
  nodesList['userNodes'] = false
  nodesList['allNodes'] = false

  <% if (req.session.authenticated) { %>
  nodesList['userNodes'] = <%- JSON.stringify(userNodes) %>
  nodesList['allNodes'] = <%- JSON.stringify(allNodes) %>
  $("#sortText").text("Sort: My Nodes")
  fillNodeList("userNodes")
  <% } else { %>
  $("#sortText").text("Sort: Public Nodes")
  fillNodeList("publicNodes")
  <% } %>

  $(".restrictionSelector").click(function(){
    $("#sortText").text("Sort: " + $(this).attr("text"))
    fillNodeList(this.id)
    $(".open-close").trigger('click')
  })

  $(".open-close").click(function(){
    number = $(this).attr("number");
    $("#q" + number).slideToggle();
    $(this).find(".fa").toggle()
  });

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
              label: 'Température °C',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

  $(".frame").mouseenter(function(){
    $("#clearFrame" + $(this).attr("frameNumber")).show();
  })
  .mouseleave(function(){
    $("#clearFrame" + $(this).attr("frameNumber")).hide();
  });

  $(".delFrame").click(function(){
    // TODO:  Del frame in BDD
    // use NODE_ID and this.frameId;
    var FRAME_ID = $(this).attr("frameId");
    console.log("frameId: " + FRAME_ID);
    $("div").find("[frameId='" + FRAME_ID + "']").remove();
  });

  $("#clearAllData").click(function(){
    // TODO: Del all frames of the node in BDD
    $(".frame").remove();
  })

  function fillNodeList(nodeType) {
    $("#nodeList").empty()
    for (i = 0; i < nodesList[nodeType].length; i++) {
      $("#nodeList").append('<a href="#!" id="' + i
                    + '" class="collection-item node-button">'
                    + (nodesList[nodeType][i].restriction == "private" ? "<i class=\"fa fa-lock\" aria-hidden=\"true\"></i> " : "") + nodesList[nodeType][i].name + '</a>')
    }
  }

  function showNode(){
    var nodeNumber = $("#node-infos").attr("nodeNumber");
    $("#new-node").hide();
    $("#existing-node").show();
    $("#node-infos").show();
    $("#modify-node").show();

    //Data and infos
    console.log("Node number: " + nodeNumber);
    $(".node-name").text(nodes[nodeNumber].name);
    $("#api-url").text("http://www.lora.insa-toulouse.fr/" + nodes[nodeNumber].name);
  }
}, false);
</script>
