<style>
  .open-close {
    cursor: pointer;
  }

  h3, h5 {
    font-weight: bold;
  }
  h5 {
    color: #2196F3;
  }
</style>


<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>F.A.Q.</h3></span>
        <h5 class="open-close"  number="1">Les données de mes noeuds sont-elles privées ?<span class="right"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true" hidden></i></span></h5>
        <p id="q1" hidden>Les noeuds peuvent être publics ou privés au yeux des utilisateurs de notre plateforme. Les données d'un noeud public sont accessible par quiconque. Concernant les noeuds privés, seul le possésseur du noeud ainsi que les administrateurs du site peuvent avoir accès aux donnés. Si vous ne souhaitez pas que vos données soient lues par une autre personne que vous nous vous conseillons de prendre les mesures nécessaires (chiffrement applicatif).
        </p>
        <br/>
        <h5 class="open-close" number="2">Les données de mes noeuds sont-elles privées ?<span class="right"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true" hidden></i></span></h5>
        <p id="q2" hidden>Les noeuds peuvent être publics ou privés au yeux des utilisateurs de notre plateforme. Les données d'un noeud public sont accessible par quiconque. Concernant les noeuds privés, seul le possésseur du noeud ainsi que les administrateurs du site peuvent avoir accès aux donnés. Si vous ne souhaitez pas que vos données soient lues par une autre personne que vous nous vous conseillons de prendre les mesures nécessaires (chiffrement applicatif).
        </p>
        <br/>
        <h5 class="open-close"  number="3">Les données de mes noeuds sont-elles privées ?<span class="right"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true" hidden></i></span></h5>
        <p id="q3" hidden>Les noeuds peuvent être publics ou privés au yeux des utilisateurs de notre plateforme. Les données d'un noeud public sont accessible par quiconque. Concernant les noeuds privés, seul le possésseur du noeud ainsi que les administrateurs du site peuvent avoir accès aux donnés. Si vous ne souhaitez pas que vos données soient lues par une autre personne que vous nous vous conseillons de prendre les mesures nécessaires (chiffrement applicatif).
        </p>
        <br/>
      </div>
    </div>
  </div>
</div>

<script>
window.addEventListener("load", function(){
  $(".open-close").click(function(){
    number = $(this).attr("number");
    $("#q" + number).slideToggle();
    $(this).find(".fa").toggle()
  });
}, false);
</script>
