<%
  var userForm = {
    email: ''
  }
  if (typeof previousUserInput !== 'undefined') {
    Object.assign(userForm, previousUserInput)
  }

  var isError = false
  var errorForm = {
    message: 'Une erreur s\'est produite.'
  }
  if (typeof error !== 'undefined') {
    isError = true
    Object.assign(errorForm, error)
  }
%>

<div class="row">
  <div class="col s0 m2 l3"></div>
  <form class="col s12 m8 l6" method="POST" action="/login">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>Login</h3></span>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" value="<%=userForm.email%>">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <% if (isError) { %>
          <div class="row">
            <p class="red-text center"><%=errorForm.message%></p>
          </div>
          <% } %>
        <div class="row center">
          <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter
             <i class="material-icons right">send</i>
           </button>
        </div>
      </div>
    </div>
  </form>
  <div class="col s0 m2 l3"></div>
</div>
