<h1>Confirmation d'inscription</h1>
<p>Pour confirmer votre inscription merci de cliquer sur le lien envoyé sur votre boite mail <%=email%>.
  <br>
  <br>Nous vous souhaitons une excellente journée !
  <br>
  <br>L'équipe
</p>
