<%
  var userForm = {
    firstName: '',
    lastName: '',
    pseudo: '',
    email: ''
  }
  if (typeof previousUserInput !== 'undefined') {
    Object.assign(userForm, previousUserInput)
  }

  var isError = false
  var errorForm = {
    message: 'Une erreur s\'est produite.'
  }
  if (typeof error !== 'undefined') {
    isError = true
    Object.assign(errorForm, error)
  }
%>

<div class="row">
  <form class="col s12" method='POST' action='/register'>
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>Inscription</h3></span>
        <div class="row">
          <div class="input-field col s6">
            <input required id="first_name" name='first_name' type="text" class="validate" value="<%=userForm.firstName%>" minLength=1 maxlength=32>
            <label for="first_name">Prénom</label>
          </div>
          <div class="input-field col s6">
            <input required id="last_name" name='last_name' type="text" class="validate" value="<%=userForm.lastName%>" minLength=1 maxlength=32>
            <label for="last_name">Nom</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input required id="pseudo" name='pseudo' type="text" value="<%=userForm.pseudo%>" class="lowercase_no_space" minLength=4 maxlength=16>
            <label for="pseudo">Pseudo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input required id="email" name='email' type="email" class="validate lowercase_no_space" value="<%=userForm.email%>">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input required id="password" name='password' type="password" class="validate password" minLength=6 maxlength=32>
            <label for="password">Mot de passe</label>
          </div>
          <div class="input-field col s12">
            <input required id="password2" name='password2' type="password" pattern class="validate password">
            <label for="password2">Confirmer mot de passe</label>
          </div>
        </div>
        <% if (isError) { %>
          <div class="row">
            <p class="red-text center"><%=errorForm.message%></p>
          </div>
          <% } %>
        <div class="row center">
          <button id="sendButton" class="btn waves-effect waves-light" type="submit" name="action">S'inscrire
             <i class="material-icons right">send</i>
           </button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  window.onload = function() {
    $('.lowercase_no_space').on("input", function(){
      $(this).val($(this).val().toLowerCase());
      $(this).val($(this).val().replace(/\s/g, ''));
    });

    $('.password').keyup(function(){
      $("#password2").prop("pattern", $("#password").val());
      if($("#password").val() != $("#password2").val()){
        $("#password2").addClass("invalid");
      }else{
        $("#password2").removeClass("invalid");
      }
    });
  }
  </script>
